body {
    background-color: black; 
    color: white; 
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

img {
    
    width: 10%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}